#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.play-controls > * {
    border: none;
    /* border-left: 1px solid black; */
    padding: 0 6px;
}

.play-controls > *:first-child {
    border-left: none;
}

.tabs {
    background-color: #ccf;
}

.tabs > button {
    padding: 4px 0;
    width: 96px;
    border-top: 1px solid black;
    background-color: inherit;
    background-image: url("tab-inactive.png");
    background-size: 100% 100%;
    image-rendering: pixelated;
}

.tabs > button.active {
    border-top: 1px solid white;
    background-image: url("tab.png");
}
